

/*///////////////////////////////////////////////////////////////////////////*/
/*                                                            Primary style  */
/*///////////////////////////////////////////////////////////////////////////*/

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*margin: 0;*/
}

body {
  font-size: 1.6rem;
  /*font-family: "PT Sans", sans-serif;*/
  color: #ffffff;
  background-color: #F5F5F5;
  /*font-size: 100%;*/
  font-family: "Droid Serif", serif;
  color: #7f8c97;
  /*background-color: #e9f0f5;*/
  margin: 0;
}

a {
  color: #323d55;
  text-decoration: none;
}

b {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

/*///////////////////////////////////////////////////////////////////////////*/
/*                                                                   Header  */
/*///////////////////////////////////////////////////////////////////////////*/

header {
  /*height: 200px;*/
  /*line-height: 200px;*/
  text-align: left;
  background: #F5F5F5;
  width: 90%;
  max-width: 1170px;
  /*margin: 0 auto;*/
  margin: 1em auto;
  
  padding: 1em 0;
}
header p{
    line-height: 1.6;
    margin: 1em 0;
    color: #323d55;
}

@media (min-width:320px) { 
/* smartphones, iPhone, portrait 480x320 phones */
  header {
    font-size: 1em;
  }
}
@media (min-width:481px) { 
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  header {
    font-size: 1.1em;
  }
}
@media (min-width:641px) { 
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  header {
    font-size: 1.2em;
  }
}
@media (min-width:961px) { 
/* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width:1025px) { 
/* big landscape tablets, laptops, and desktops */
}
@media (min-width:1281px) { 
/* hi-res laptops and desktops */
}

@media only screen and (min-width: 1170px) {
  header {
    /*height: 300px;*/
    /*line-height: 1.8;*/
    font-size: 1.2em;
  }
}

#wrapper {
  width:100%;
  height:100%;
  position:absolute;
  top:0;left:0;
  /*background-color:#ccc;*/
  /*overflow:hidden;*/
}

#mask {
  width:200%;
  height:100%;
  /*background-color:#eee;*/
}

.item {
  width:50%;
  /*height:100%;*/
  float:left;
  /*background-color:#ddd;*/
  overflow: hidden;
}

.cd-close {
  position: absolute;
  top: 4%;
  right: 5%;
  width: 60px;
  height: 38px;
}
.cd-close::before, .cd-close::after {
  content: '';
  position: absolute;
  top: 16px;
  width: 36px;
  height: 6px;
  background-color: #8f9cb5;
}
.cd-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 12px;
}
.cd-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 12px;
}

.external-html {
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  width: :100hw;
  overflow:hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
}